body {
    background-image: url("img/borat1.jpg");
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
}

.board td {
    background-color: #d49308;
    width: 32px;
    height: 32px;
    border: 4px solid black;
    text-indent: -9999px;
}

.levels {
    text-align: center;
}

button {
    border-color: pink 2px;
    background-color: greenyellow;
}

.board {
    position: auto;
    /* top: 50%; */
    left: 50%;
    right: 50%;
    margin-top: 50px;
    margin-left: -100px;
    margin-left: auto;
    margin-right: auto;
}

.tableholder {
    background-image: url("img/flag.jpg");
    widows: auto+45px;
    height: auto;
}

h1 {
    font-family: comic sans-serif;
     text-align: center;
    color: blue;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 16px;
}

.shp {
    text-align: center;
    background-color: greenyellow;
}